*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #01435e, #064118);
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
}



.result {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.firstData {
  color: blue;
  font-size: 1.5rem;
}

.secondData {
  color: rgb(193, 196, 62);
  font-size: 3rem;
}

