*,
*::before,
*::after {
  font-weight: bold;
  font-family: sans-serif, Arial, "Helvetica Neue", Helvetica;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(19, 17, 14);
}

#calculator {
  position: fixed;
  left: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(194, 176, 153), rgb(104, 88, 67));
  min-height: 90vh;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: minmax(80px, auto) repeat(3, 80px);
}

#buttons > button {
  cursor: pointer;
  font-size: 2rem;
}

.spanthree {
  grid-column: span 3;
}

#result {
  grid-column: 1 / -1;
  background-color: rgba(202, 187, 187, 0.75);
  color: rgb(129, 118, 106);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

#first-data {
  color: blue;
  font-size: 1.5rem;
}

#second-data {
  color: red;
  font-size: 1.5rem;
}
